@model List<UserDashboard.Models.User>
@{
    ViewData["Title"] = "User";
}

<div class="results">
    <a href="~/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <span>RESULTS</span>
</div>
<br/>
<div class="row details">
    <div class="col-4">
        <img src="https://randomuser.me/api/portraits/men/61.jpg" alt="image"/>
    </div>
    <div class="col-8">
        <h4><strong>Mrs Shalom Chioma</strong><span> 25</span></h4>
        <p id="location">9278 , waterford</p>
        <p id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i> lois@gmail.com</p>
        <p id="joined"><strong>JOINED: 2020-06-21</strong></p>
        <p class="phone"><i class="fa fa-volume-control-phone" aria-hidden="true"></i> 56516425</p>
        <p class="phone"><i class="fa fa-mobile" aria-hidden="true"></i> 46756874575</p>
    </div>
</div>