@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<br/>

<p>
    <a href="~/">Reload dashboard</a>
</p>




<script>
    var currentUrl = window.location.href;
</script>